DirectoryIndex index.html

Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  RewriteRule ^mobile/?$ /mobile/index.html [L]
  RewriteRule ^library/?$ /library/index.html [L]
  RewriteRule ^author/login/?$ /author/login/index.html [L]
  RewriteRule ^author/?$ /author/index.html [L]

  RewriteRule ^.*$ /index.html [L]
</IfModule>
